#### 연습문제 1
투수들의 기록중에서 평균자책점(ERA), 투구인닝(IP), 탈삼진(SO) 기록을 찾아서 
Pitcher_stats 란 테이블을 만들고, Eagles 테이블과 Join 하여
백넘버, 선수명, 포지션, 투구인닝, 평균자책점, 탈삼진 필드를 갖는 데이터 프레임을 만들어서
Join 한 결과를 입력하고, 그 결과를 보이시오.

In [7]:
import sqlite3
conn = sqlite3.connect('test.db')

In [ ]:
cur = conn.cursor()
cur.execute('CREATE TABLE Philies0 \
              (back_no INT NOT NULL, \
              Name TEXT, \
              BT TEXT, \
              Ht TEXT, \
              Wt TEXT, \
              DOB TEXT, \
              Position INT, \
              PRIMARY KEY(back_no));')

In [9]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS stats \
    (Back_no INT NOT NULL, \
     Name TEXT, \
     W INT, \
     L INT, \
     ERA float, \
     IP float, \
     SO INT, \
     PRIMARY KEY(Back_no));')

OperationalError: database is locked

In [2]:
import pandas as pd
players = pd.read_csv('Philies1.csv')
players 
pitchers = pd.read_csv('pitchers.csv')
pitchers

    Back_no             Name  W   L   ERA     IP   SO
0        52     Jose Alvarez  1   2  3.07   41.0   35
1        49     Jake Arrieta  8   8  4.51  123.2   95
2        56       Zach Eflin  7  11  4.59  113.2   94
3        46      Adam Morgan  3   3  3.94   29.2   29
4        28       Mike Morin  0   0  2.96   27.1   16
5        50     Hector Neris  2   4  3.66   46.2   64
6        12     Juan Nicasio  2   3  5.26   39.1   36
7        27       Aaron Nola  9   2  3.72  135.1  153
8        53     Blake Parker  1   2  4.21   36.1   34
9        43     Nick Pivetta  4   4  5.45   77.2   68
10       18       Drew Smyly  2   5  6.58   64.1   65
11       55    Ranger Suarez  3   0  4.12   19.2   22
12       21  Vince Velasquez  3   6  4.40   71.2   85

In [5]:
cur = conn.cursor()
sql = 'INSERT INTO Philies0 VALUES (?, ?, ?, ?, ?, ?, ?);'
for i in range(25):
    cur.execute(sql, (int(players.iloc[i,0]),
                     players.iloc[i,1],players.iloc[i,2],
                     players.iloc[i,3],players.iloc[i,4],
                     players.iloc[i,5], players.iloc[i,6]))
conn.commit()

OperationalError: database is locked

In [4]:
cur = conn.cursor()
sql = 'INSERT INTO pitchers VALUES (?, ?, ?, ?, ?, ?, ?);'
for i in range(12):
    cur.execute(sql, (pitchers.iloc[i,0],
                      pitchers.iloc[i,1],
                      int(pitchers.iloc[i,2]),
                      int(pitchers.iloc[i,3]),
                      float(pitchers.iloc[i,4]),
                      float(pitchers.iloc[i,5]),
                      int(pitchers.iloc[i,6]))
conn.commit() # 변경사항 저장

SyntaxError: invalid syntax (<ipython-input-4-3a002798005f>, line 11)