In [35]:
import pandas as pd
import numpy as np

In [36]:
data = pd.read_csv("Sparkle.csv", encoding = 'euc-kr')

In [51]:
spk = data.iloc[:,1:10]
spk
del spk["CATEGORY"]

In [58]:
spk.head()

       YM  PRICE  MAXTEMP  SALEDAY  RAIN_DAY  HOLIDAY    QTY_CNT
0  200901   1543        4   126753       151       12  38.108108
1  200902   1543        9   113399      3014        8  32.675676
2  200903   1547       12   129162      1383        9  35.473684
3  200904   1500       19   126277      3564        8  36.236842
4  200905   1528       25   129584      9288       12  35.150000

In [55]:
spk["QTY_CNT"] = spk["QTY"] / spk["ITEM_CNT"]

In [57]:
del spk["ITEM_CNT"]
del spk["QTY"]

In [59]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(spk, test_size = 0.3)

(122, 7)

In [60]:
train_set.shape

(284, 7)

In [61]:
test_set.shape

(122, 7)